{% extends 'base.html' %}
{% block title %}{{ pokemon|capfirst }}{% endblock title %}
{% block content %}
  <p>
    Has elegido el pokemon: <strong>{{ pokemon|capfirst }}</strong>
  </p>
  <h3>Detalles del Pokemon</h3>
  <ul>
    <li>Tipo: {{ pokemon.tipo }}</li>
    <li>Peso: {{ pokemon.weight }} kg</li>
    <li>Altura: {{ pokemon.height }} cm</li>
    <li>Entrenador: {{ pokemon.trainer }}</li>
  </ul>
  <img src="{{ pokemon.picture.url }}" class="card-img-top img-fluid w-50" alt="{{ pokemon.name }}">
  <a href="{% url "pokedex:index" %}" class="btn btn-secondary"> Regresar </a>
{% endblock %}
